<form action="" >
    <div class="box border container mt-3 justify-content-center align-item-center text-center">
    <h4 class="text-center pt-3">Contact Me</h4>
    <div class="min-vh-100">
<div class="">  
    <label for="name"> Name</label>
    <br><input type="text">
</div> 
<div>    
    <label for="name"> Email</label>
    <br><input type="text">
</div>
<div>   
    <label for="name"> Message</label>
    <br><input type="text">
</div>    
<div><button class="btn btn-primary mt-2">Send</button>
</div>
</div>
</div>
</form>