    <div class="box border container mt-3 justify-content-center  text-center">
    <h4 class="text-center pt-3">Contact Me</h4>
    <div>
<div>  
    <label for="name"> Name</label>
    <br><input type="text" [(ngModel)]="userName" placeholder=" Enter your username">
</div> 
<div>    
    <label for="name"> Email</label>
    <br><input type="text" [(ngModel)]="eMail" placeholder=" Enter your email">
</div>
<div>   
    <label for="name"> Message</label>
    <br><input type="text" [(ngModel)]="message" placeholder=" Enter message to send">
</div>    
<div><button class="btn btn-primary mt-2">Send</button>
</div>
</div>
</div>
<p *ngIf="isUserTyping()">Hi {{ userName }}!</p>
