<div class="text-center" style="padding:  20px 100px;">
    <h3>About Me</h3>
    <p class="pt-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ratione necessitatibus itaque obcaecati eum, ex veritatis totam quo voluptate libero? Pariatur iure maxime officia unde placeat repellendus consectetur at a! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa dolores officia earum provident? Magnam cum numquam accusamus neque ut, eum culpa reprehenderit odit veniam ad iure ullam incidunt tempore dolores! lorem
    </p>
</div>