<div style="display: flex;" >
    <div class="border box" style="margin: 10px 30px 40px 10px; background-color: beige;">
        <h4>Project 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, architecto illo voluptatibus accusamus rerum delectus sed dolorum praesentium, sequi facilis quidem cupiditate voluptates, cumque nisi expedita provident vero! Obcaecati, porro?</p>
    </div>
    <div class="border box" style="margin: 10px 40px;  background-color: beige;">
        <h4>Project 2</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti commodi harum perferendis amet porro minima? Pariatur asperiores repellat optio delectus ratione voluptatibus! Saepe harum quos ab fuga perferendis distinctio provident.</p>
    </div>
    <div class="border box" style="margin: 10px;  background-color: beige;">
        <h4>Project 3</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti commodi harum perferendis amet porro minima? Pariatur asperiores repellat optio delectus ratione voluptatibus! Saepe harum quos ab fuga perferendis distinctio provident.</p>
    </div>

</div>