<div class="text-center" style="display: flex; background-color:beige" >
    <div class="border box projectcss">
        <h4>Project 1</h4>
        <p>Description</p>
        <a href="project.com" target="_blank">Click to view</a>
    </div>
    <div class="border box projectcss">
        <h4>Project 2</h4>
        <p>Description</p>
        <a target="_blank" href="project.com" >Click to view</a>
    </div>
    <div target="_blank" class="border box projectcss">
        <h4>Project 3</h4>
        <p>Description</p>
        <a href="project.com">Click to view</a>
    </div>

</div>